.DS_Store
/ios/RNVideoEditor.xcodeproj/xcuserdata/macintosh.xcuserdatad/xcschemes/xcschememanagement.plist
/ios/RNVideoEditor.xcodeproj/project.xcworkspace/xcuserdata/macintosh.xcuserdatad/UserInterfaceState.xcuserstate
/ios/RNVideoEditor.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
